[Unit]
Description=stim2 Management Agent
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/dserv-agent --listen :2580 --service __STIM2_SERVICE__ --no-tls --allow-reboot --components /etc/stim2-agent/components.json
Restart=always
RestartSec=5
ProtectHome=read-only
PrivateTmp=true
EnvironmentFile=-/etc/stim2-agent/env
StandardOutput=journal
StandardError=journal
SyslogIdentifier=stim2-agent

[Install]
WantedBy=multi-user.target
