[Unit]
Description=Stim2 Stimulus Presentation

[Service]
Type=simple
Environment=XDG_RUNTIME_DIR=/tmp
ExecStart=/usr/bin/cage -- /usr/local/stim2/stim2 -F -f /usr/local/stim2/config/linux.cfg
Restart=always
RestartSec=5
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=50

[Install]
WantedBy=multi-user.target
